.root {
  max-width: 80%;
  width: 70%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.radio {
  color: green;
}

.task[data-completed="true"] {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}
